<div class="carousel">
  <div class="carousel-inner">
    <div *ngFor="let slide of slides; let i = index" [ngClass]="{'active': i === slideIndex}" class="slide">
      <h2 class="text">{{ slide.text }}</h2>
      <img [src]="slide.image" alt="Image {{ i + 1 }}" class="image">
      <h3 class="text">{{ slide.text }}</h3>
      <div class="caption">{{ slide.caption }}</div>
    </div>
  </div>
</div>

<div class="dots">
  <span *ngFor="let slide of slides; let i = index" class="dot" [ngClass]="{'active': i === slideIndex}" (click)="currentSlide(i)"></span>
</div>
