.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 30px; /* Ajustez selon vos besoins */
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile-avatar {
    width: 40px; /* Ajustez selon vos besoins */
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: blue;
    color: white;
    text-align: center;
  }
  
  .profile-name {
    font-size: 16px;
    font-weight: bold;
  }
  