<div mat-dialog-content class="team-dialog-content">
    <div class="header">
      <!-- <img src="" alt="Icon" class="icon" />  -->
      <i class="material-icons">group</i>

      <div class="discount-message">
        Profitez aujourd'hui d'une réduction allant jusqu'à 65% sur les plans annuels payants !
      </div>
    </div>
    <h2>Améliorez votre forfait</h2>
    <p>Combien de membres de l'équipe souhaitez-vous inviter?</p>
    <div class="plans">
      <button mat-button class="plan-button">+1 membre</button>
      <button mat-button class="plan-button">+4 membres</button>
      <button mat-button class="plan-button">+9 membres</button>
    </div>
    <button mat-button class="upgrade-button">Améliorer</button>
    <p>Besoin de plus? <a href="#">Contactez-nous!</a></p>
  </div>
  