
<p class="h">Créez votre formulaire</p>
<div class="options">
  <div class="option-cardd" (click)="selectOption('generateWithAI')">
   <i class="material-icons">stars</i>
    <div class="title">Générer avec l'IA</div>
    <div class="description">Utilisez forms.app AI pour avoir un formulaire personnalisable instantanément</div>
  </div>
  <div class="option-card" (click)="selectOption('startFromScratch')">
    <i class="material-icons">add_circle_outline</i> 
   
    <div class="title">Commencer à partir de zéro</div>
    <div class="description">Obtenez une toile vierge pour laisser votre créativité s'exprimer</div>
  </div>
  <div class="option-card" (click)="selectOption('chooseTemplate')">
    <i class="material-icons">widgets</i>
    <div class="title">Sélectionner un modèle</div>
    <div class="description">Choisissez parmi des modèles artisanaux pour commencer immédiatement</div>
  </div>
  <div class="option-card" (click)="selectOption('importForm')">
   <i class="material-icons">file_upload</i>
    <div class="title">Importer un formulaire</div>
    <div class="description">Gagnez du temps en important vos formulaires existants (PDFs, URLs & plus)</div>
  </div>
</div>

