<!-- <h1 mat-dialog-title>Options</h1>
<div mat-dialog-content>
  <button mat-button>Tout sélectionner</button>
  <button mat-button>Déplacer vers</button>
  <button mat-button>Désactiver</button>
  <button mat-button>Activer</button>
  <button mat-button>Tout marquer comme lu</button>
  <button mat-button>Déplacer dans l'archive</button>
  <button mat-button>Supprimer</button>
</div> -->



<div class="d">
<h1 mat-dialog-title>Options</h1>
<div mat-dialog-content>
  
  <td mat-button> <input type="checkbox" id="terms" name="terms" required>Tout sélectionner</td>
  <button mat-button>Déplacer vers</button>
  <button mat-button>Désactiver</button>
  <button mat-button>Activer</button>
  <button mat-button>Tout marquer comme lu</button>
  <button mat-button>Déplacer dans l'archive</button>
  <button mat-button>Supprimer</button>
</div>
</div> 