/* .form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-right: 320px; 
  }
  
  form {
    width: 60%;
  }
   */

   
   .reset-password-container {
    max-width: 5000px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 1%;
    width: 660px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement */
    align-items: center; /* Centre horizontalement */
    position: relative;
    margin-left: 2%;
  }

  .back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    text-decoration: none;
    color: #00bcd4;
  }
  
  .back-arrow:hover {
    color: #0097a7;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center; /* Centre le texte de h2 */
  }
  
  .form-group {
    margin-bottom: 30px;
    text-align: left;
    width: 100%; /* Assure que les champs prennent toute la largeur disponible */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: center; /* Centre le texte du label */
  }
  
  input {
    width: 100%; /* Assure que les champs prennent toute la largeur disponible */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur totale */
  }
  
  button {
    background-color: #0dcfe9;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center; /* Centre le texte du bouton */
  }
  
  /* button:disabled {
    background-color: #0aacd4; */
    /* cursor: not-allowed; */
    /* cursor: pointer;
  }
   */
  .img {
    width: 200px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
  }
  

  .car {
    position: absolute;
    top: -0;
    right: 0;
    /* facultatif, pour ajouter un peu d'espace autour */
    
  }




  