<!-- <div class="form-container">
    <form>
      <h2>Inscription</h2>
      <mat-form-field appearance="fill">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <button mat-button>S'inscrire</button>
    </form>
    <app-carousel></app-carousel>
  </div>
   -->

   <div class="register-container">
    <img src="assets/profile.ing.png" alt="" class="img">
      <h4>Créez votre compte gratuitement !</h4>
      <form (ngSubmit)="onRegister()">
        <div class="form-group">
          <label for="fullName" >Nom complet </label>
          <input type="text" id="fullName" [(ngModel)]="fullName" name="fullName" required placeholder="Veuillez saisir votre Nom et Prenom">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Exemple@domaine.com">
        </div>
        <div class="form-group">
          <label for="username">Nom d'utilisateur</label>
          <input type="text" id="username" [(ngModel)]="username" name="username" required placeholder="Veuillez saisir votre Nom">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Veuillez saisir votre Mot de passe">
        </div>
        <div class="form-group checkbox-group">
          
          <label for="terms">
            <input type="checkbox" id="terms" name="terms" required>
            J'accepte les <a href="/terms" target="_blank">conditions d'utilisation</a> et la
             <a href="/privacy" target="_blank">politique de confidentialité</a>.
          de form.app</label>
        </div>
       
        <button type="submit" class="s">S'INSCRIT GRATUITEMENT</button>
      </form>
      <p>Vous avez déjà un compte ? <a href="login"routerLink="login" class="register">S'identifier</a></p>
    </div>
    
    <div class="car"> <app-carousel></app-carousel></div>